body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.game-container {
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #333;
    padding: 10px;
    box-sizing: border-box;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #ddd; 
}

.player {
    background-color: #00f;
    position: absolute;
    width: 50px; /* Set a fixed size for the player for now */
    height: 50px; /* Set a fixed size for the player for now */
}

.obstacle {
    position: absolute;
    background-color: green;
}

.goal {
    position: absolute;
}