body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

h1 {
    color: white;
}

.game-container {
    width: 80vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    position: relative;
}

#title {
    height: 100%;
    width: auto;
    margin: 0 auto;
}


#timeRemaining {
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#timeRemaining span {
    font-size: 24px;
    margin-top: 5px;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    border: 2px solid white;
    background-color: black;
}


.obstacle {
    background-image: url('../images/obstacle.png');
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.player {
    background-image: url('../images/player.png');
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.option-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    background-color: rgba(207, 11, 184, 0.37);
    color: white;
    display: none;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 10;
    flex-direction: column;
}

#close-screen {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
}

#startButton {
    margin: 10px;
}

#final-message {
    margin-bottom: 20px;
}

#goal {
    background-image: url('../images/goal.png');
}
